<h3>
    Wybierz kategorie przedmiotu
</h3>

<div id="smartwizard">
    <ul>
        <li><a href="#step-1">Wybór kategorii<br /><!--<small>Step description</small>--></a></li>
        <li><a href="#step-2">Opis przedmiotu<br /><!--<small>Step description</small>--></a></li>
        <li><a href="#step-3">Dane kotaktowe<br /><!--<small>Step description</small>--></a></li>
        <li><a href="#step-4">Podsumowanie<br /><!--<small>Step description</small>--></a></li>
    </ul>

    <div>
        <div id="step-1" class="">
            <h3 class="text-center">Wybierz kategorie wystawianego przedmiotu </h3></br>
            <div class="row">
          <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="form-group">

                        <select id="value" name="state" class="form-control select2-single" data-bind="value: selectedCategory"></select>

                    </div>
                </div>
                <div class="col-lg-4"></div>
                   
                    
              
            </div>
         
            
                    
            
            <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
        </div>
        <div id="step-2" class="">
            Ustawienie parametrów przedmiotu
        </div>
        <div id="step-3" class="">
            Step Content
        </div>
        <div id="step-4" class="">
            Step Content
        </div>
    </div>
</div>