<section>
    <div class="row">
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/sailboatImage.png" />
                <p>
                    Łodzie żaglowe
                </p>
            </button>          
        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/motorboatImage.png" />
                <p>
                    Łodzie motorowe
                </p>
            </button>
        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/propelerImage.png" />
                <p>
                    Silniki
                </p>
            </button>                     
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/trailer.png" />
                <p>
                    Przyczepy
                </p>
            </button>
        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/tqokmskhdtjoiylgbrkx.png" />
                <p>
                    Usługi
                </p>
            </button>
        </div>
        <div class="col-lg-2">

        </div>
    </div>  
</section>