<section>
    <div class="row">
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/sailboatImage.png" />
                <p>                    
                    Łodzie żaglowe
                </p>
            </button>            
        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/motorboatImage.png" />
                <p>
                    Łodzie motorowe
                </p>
            </button>
        </div>
        <div class="col-lg-4">
            <button class='myButt three'>
                <img src="../../Content/images/propelerImage.png" />
                <p>
                    Silniki
                </p>
            </button>                     
        </div>
    </div>
    <div id="jumbotron" class="jumbotron">
        <h1>Boats Ad</h1>
        <p>Durandal is a cross-device, cross-platform client framework written in JavaScript and designed to make Single Page Applications (SPAs) easy to create and maintain. This project template is based on the ASP.NET 4.5.1 Single Page Application template. Sign in to find out more.</p>
        <p> To read the blog series that accompanies this project click <a href="http://netdevplus.wordpress.com/tag/durandal/">here</a>.</p>        
    </div>

  
</section>